.cache
.docker
.local
.vscode-server
.dotnet
.config
.copilot
.ssh

.bash_history
.lesshst

backups
storage
zipline/public
zipline/uploads
services/portainer/data
services/plausible/database_backup
services/traefik/docker-compose.yml
services/generator

*.env
*.log
*.conf
*.json
*.json.bak